
<div class="leftNav">
    <div class="logo">
        <img src="../../assets/images/logo.png" alt="">
    </div>
    <div class="icons">
        <ul>
            <li><img src="../../assets/images/icons8-dashboard-24.png" alt=""></li>
            <li><img src="../../assets/images/icons8-inbox-32.png" alt=""></li>
            <li><img src="../../assets/images/icons8-briefcase-50.png" alt=""></li>
            <li><img src="../../assets/images/icons8-employees-64.png" alt=""></li>
            <li><img src="../../assets/images/icons8-retro-alarm-clock-32.png" alt=""></li>
            <li><img src="../../assets/images/icons8-statistics-report-50.png" alt=""></li>
            <li><img src="../../assets/images/icons8-settings-50.png" alt=""></li>
        </ul>
    </div>
</div>
<div class="main">
    <div class="topNav">
        <div class="left">
            <!-- <img src="../../assets/images/optum_new_logo.png" alt=""> -->
            <h3> Doc Aid</h3>
        </div>
        <div class="right">
            <div class="search">
                <img src="../../assets/images/icons8-magnifying-glass-64.png" alt="">
                <input class="form-control mr-sm-2" type="search" placeholder="Search patients" aria-label="Search patients">
               
            </div>
            <div class="icons">
                <img src="../../assets/images/icons8-help-50.png" alt="">
                <img src="../../assets/images/icons8-user-30 (1).png" alt="">
            </div>
        </div>
    </div>
    <div class="subTopNav">
        <div class="left">
            <h3>Patients > Dashboard</h3>
        </div>
        <div class="right">
            <button>+ New Patient</button>
            <!-- <button>Upload Resume</button> -->
        </div>
    </div>
    <router-outlet></router-outlet>
</div>